/* styles.css */ 


body { 
  background-color: #111213; 
} 

.backgroundImage { 
background-image: url(../img/Group\ 2.png); 
width: 857px; 
height: 635px; 
margin: 64px auto; 
} 

.backgroundImage:hover { 
  background-image: url(../img/Group\ 1.png); 
  cursor: crosshair; 
} 

h1 {
  color: rgb(35, 89, 189);
  font-size: 40px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


h3 a:hover { 
  color: white; 
} 